@import 'buttons';

body {
    font-size: 12px;
    background-color: #E1E2E1;
    overflow: hidden;
}

// Navbar Styles
.navbar {
    background-color:#afc2cb;
}

.message-alert {
    text-align: center;
    font-size: 1rem;
}
