.timer {
    display: flex;
    width: 30%;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;

    &__counter {
        font-size: 3rem;
        width: 100%;
        padding: 10px;
        height: 80px;
        margin-bottom: 90px;
        display: flex;
        border: 1px solid #eee;
        justify-content: center;
        align-items: center;
    }

}